* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body, html {
    width: 100%;
    height: 100%;
    background-color: #EEE;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 16px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

img{max-width: 100% !important;}

h1 {
    font-weight: bold;
    font-size: 2.5em;
    line-height: 1em;
    margin: 15px auto;
}

h1::after {
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background-color: #000;
    margin: 2px 0 15px 0;
}

span {font-size: 1.5em;}

a {text-decoration: none; color: #000}

p {
    font-size: 1.25em;
    line-height: 1.4em;
}

p + p {margin: 15px 0;}

.container {
    width: 1100px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: #FFF;
    box-shadow: 15px 15px 15px 0px rgba(0, 0, 0, .1);
    border-radius: 5px;
}

main {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

article {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

section.foto-social {
    flex: 1 1 100px;
}

section.texto {
    flex: 1 1 400px;
}

section + section {margin-left: 15px;}

.foto {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    border-radius: 50%;
}

.foto img {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    border-radius: 50%;
}

ul.social {
    width: 100%;
    height: auto;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul.social li {
    flex: 1 1 35px;
    margin: 5px;
}

ul.social li a {
    text-align: center;
    display: block;
    padding: 5px;
    transition: all .5s ease-in-out;
}

ul.social li a:hover {opacity: .5;}
